<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dopamina</title>
  <link rel="stylesheets" href="stylesheets/main.css.erb">
</head>
<body>

<%= image_tag('pagina2.jpg', id: 'content-header-img', style: 'min-width:100%',  alt: 'creativity') %>

<div>
<footer id="footer">
    <small>Dopamina Copyright 2017</small>
</footer>
</div>

</body>
</html>